{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "id": "1",
      "properties": {
        "name": "Pino de la Berzala",
        "symbol": "Tree",
        "desc": "Ejemplar de pino pi\u00f1onero",
        "lat": 39.534204,
        "lon": -1.151727,
        "images": [
          {
            "name": "Pino de la Berzala",
            "url": "images/20220719203026.jpg",
            "thumbnail": "thumbnails/20220719203026.jpg"
          },
          {
            "name": "Pino de la Berzala",
            "url": "images/20220719203520.jpg",
            "thumbnail": "thumbnails/20220719203520.jpg"
          },
          {
            "name": "Pino de la Berzala",
            "url": "images/20220719203303.jpg",
            "thumbnail": "thumbnails/20220719203303.jpg"
          }
        ]
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -1.151727,
          39.534204
        ]
      }
    }
  ]
}
