{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "id": "",
      "properties": {
        "name": "Pino de la Atalayuela",
        "symbol": "Tree",
        "desc": "Tronco de pino singular junto a la casa de la Atalayuela",    
        "lat": -1.221552,
        "lon": 39.521876,
        "images": [
          {
            "name": "Pino",
            "url": "images/pino.jpg",
            "thumbnail": "thumbnails/pino.jpg"
          }
        ]
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -1.221552,
          39.521876
        ]
      }
    }
  ]
}